<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Countdown Timer</title>
</head>
<body>
    <h1>Next run in:</h1>
    <div id="countdown"></div>

    <script>
        function updateCountdown() {
            fetch('/time-left')
                .then(response => response.json())
                .then(data => {
                    const countdownElement = document.getElementById('countdown');
                    countdownElement.innerHTML = `${data.minutes} minutes and ${data.seconds} seconds`;
                });
        }

        updateCountdown(); // Update immediately
        setInterval(updateCountdown, 1000); // Update every second
    </script>
</body>
</html>
